doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    link(
      rel="icon" 
      href="./assets/img/icons/favicon.png",
      type="image/x-icon")
    link(
      href="https://fonts.googleapis.com/css?family=Cormorant+Garamond:500,500i,600,600i|PT+Sans:400,400i,700,700i&display=swap&subset=cyrillic,cyrillic-ext,latin-ext", 
      rel="stylesheet")
    meta(
      name="viewport", 
      content="width=device-width, initial-scale=1.0")
    meta(
      http-equiv="X-UA-Compatible", 
      content="ie=edge")
    meta(
      name='description' 
      content="Shop")
    title Shop
  body.body
    div.wrapper
      include ../includes/module/header
      block content